{% extends "layout.html" %}

{% block pageTitle %}
Apply for Northern Ireland combined fund
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{{ govukBackLink({
text: "Back",
href: "where-do-you-live"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Energy bill support in Northern Ireland</h1>
    <p class="govuk-body">This application is only for the £200 Alternative Fuel Payment in England, Scotland, and Wales.</p>
    <p class="govuk-body">Northern Ireland residents will receive a <a href="https://www.gov.uk/guidance/getting-household-energy-bill-support-in-northern-irelandc">one-off automatic payment of £600</a> The payment is made up of £400 from the Energy Bills Support Scheme and the £200 Alternative Fuel Payment.</p>
    <p class="govuk-body">Some homes will not get the payment automatically. If you are not getting the payment automatically, you will be able to apply online soon.</p>
    <h2 class="govuk-heading-m">Find other support</h2>
    <p class="govuk-body">Check what other help you could get with your energy bills at <a
        href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
  </div>
</div>
{% endblock %}
