{% extends "layout.html" %}

{% block pageTitle %}
Apply for Northern Ireland combined fund
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{{ govukBackLink({
text: "Back",
href: "where-do-you-live"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for Northern Ireland combined fund</h1>
    <p class="govuk-body">The Alternative Fuel payment is only available in England, Scotland, and Wales.</p>
    <p class="govuk-body">Northern Ireland residents should receive £600 automatically or <a href="https://ebss-alpha.onrender.com/ni">can apply for the £600 online</a>.</p>
    <p class="govuk-body">If you haven't received it by the end of February, check how your electricity supplier will be making the payment to you.</p>
    <h2 class="govuk-heading-m">Find other support</h2>
    <p class="govuk-body">Check what other help you could get with your energy bills at <a
        href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
  </div>
</div>
{% endblock %}