{% extends "layout.html" %}

{% block pageTitle %}
Privacy notice
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Privacy notice – Domestic Alternative Fuel Payment (AFP) Alternative Fund (Great Britain)
    </h1>
    <p class="govuk-body">
      This notice is provided to meet the requirements of the UK General Data Protection Regulation (UK GDPR) and Data
      Protection Act 2018 (DPA) to provide transparency in how we process and use personal data collected for the ‘Domestic
      Alternative Fuel Payment Alternative Fund’ scheme in Great Britain (the Scheme), and your rights. It is made with
      reference to Articles 13 and 14 of the UK GDPR.
    </p>
    <p class="govuk-body">
      This notice is relevant to you if you apply on gov.uk for a payment under the Scheme. Your application will be processed
      initially by the Department for Business, Energy and Industrial Strategy (BEIS), and then by your local authority who
      will ask you for further information and evidence. BEIS and your local authority are the independent data controllers
      for your data.
    </p>  
    <p class="govuk-body">
      This privacy notice only relates to how BEIS uses your data for the Scheme. It does not cover your local authority and
      how it uses your data. You should also read your local authority’s privacy notice on their website to understand how
      they use your data. They are also required to manage your personal data in a way that meets the UK GDPR and Data
      Protection Act.
    </p>
    <h2 class="govuk-heading-m">
      The data
    </h2>
    <p class="govuk-body">
      We will process the following personal data:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name, where you live, date of birth, postcode and address, including when using the address lookup function API, as part of the initial application process</li>
      <li>your email and phone number when you have provided them</li>
      <li>bank account details to help us identify you and facilitate payment</li>
      <li>questions or feedback you leave, including your email address if you contact us</li>
      <li>evidence of power of attorney or other legal evidence to act on the applicant’s behalf</li>
    </ul>
    <p class="govuk-body">
      Special category data will not be expressly requested in connection with applications for the scheme, but it is possible
      that co-incident collection and sharing of special category data could occur as a result of information provided by
      applicants (or third party individuals acting on their behalf) in connection with the applications, including, but not
      limited to, information relating to the ethnic origin of applicants or data concerning applicant's health or age.
    </p>
    <h2 class="govuk-heading-m">
      Purpose
    </h2>
    <p class="govuk-body">
      To proceed with delivery of the Scheme to ensure support this winter to around 10% of eligible households that will not
      receive £200 automatically from an electricity supplier through the main AFP scheme. This includes monitoring the reach
      of the Scheme across regions and vulnerable groups.
    </p>
    <p class="govuk-body">
      To conduct financial checks on payments including for assurance and the prevention, investigation, detection or
      prosecution of criminal offences including fraud.
    </p>
    <p class="govuk-body">
      To allow BEIS to evaluate the Scheme to understand its impact and to inform future government policy.
    </p>
    <p class="govuk-body">
      We also collect your personal data to:
    </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>carry out counter fraud checks</li>
        <li>reduce the risk of fraud and payment errors</li>
        <li>verify your identity</li>
        <li>confirm your entitlement to alternative fuel cost support</li>
        <li>make and manage your payments</li>
        <li>send notifications about your application</li>
      </ul>
      <p class="govuk-body">
        We also collect your personal data to help improve our services so we can:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>analyse uptake of the Scheme</li>
        <li>gather feedback and conduct research to improve the Scheme</li>
        <li>send email alerts if you request them</li>
        <li>monitor use of the site to identify security threats</li>
      </ul>
      <h2 class="govuk-heading-m">
        Legal basis of processing
      </h2>
      <p class="govuk-body">
        The legal basis for processing your personal data is processing as necessary for the performance of a task carried out
        in the public interest or in the exercise of official authority vested in the data controller, such as the exercise of a
        function of the Crown, a Minister of the Crown, or a government department; the exercise of a function conferred on a
        person by an enactment; the exercise of a function of either House of Parliament; or the administration of justice. In
        particular, this Processing is necessary for the administration, delivery, reporting, monitoring, evaluation of the
        Scheme, as well as in connection with fraud prevention, and pre- and post- payment assurance and financial management
        activities to be undertaken in connection with the Scheme.
      </p>
      <h2 class="govuk-heading-m">
        Special category data
      </h2>
      <p class="govuk-body">
        As referenced under sub-section “Your data” above, special category data will not be expressly requested in connection
        with applications for the scheme, but it is possible that co-incident collection and sharing of special category data
        could occur as a result of information provided by applicants (or third party individuals acting on their behalf) in
        connection with the applications, including, but not limited to, information relating to the ethnic origin of applicants
        or data concerning applicant's health or age.
      </p>
      <p class="govuk-body">
        To the extent that Special Category Data is collected, it will be processed under Article 9(2)(g) of the UK GDPR –
        Substantial Public Interest. More particularly in the context of the exercise of governmental functions, preventing or
        detecting unlawful acts, regulatory requirements relating to unlawful acts and dishonesty, and preventing fraud, as set
        out in Part 2 of Schedule 1 to the DPA. In particular, this processing is necessary for the administration, delivery,
        reporting, monitoring, evaluation of the Scheme, as well as in connection with fraud prevention, and pre- and post-
        payment assurance and financial management activities to be undertaken in connection with the Scheme.
      </p>
      <h2 class="govuk-heading-m">
        Recipients
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name, date of birth, postcode and address</li>
        <li>bank account details</li>
        <li>documents you upload as proof of address, and use of alternative fuel type(s)</li>
      </ul>
      <p class="govuk-body">
        The purpose of this is to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>confirm your identity</li>
        <li>facilitate payment</li>
        <li>prevent, detect and investigate fraud and errors</li>
      </ul>
      <p class="govuk-body">
        We have a data sharing agreement with local authorities so that we can share your personal data with your local
        authority to deliver the Scheme. Your local authority will also share your personal data with BEIS during the processing
        of your application. The sharing of the data between local authorities and BEIS is for the purpose of administration,
        delivery, reporting, monitoring, evaluation and fraud prevention necessary within the Scheme. This may also include an
        assessment of your liability for council tax on the property you have stated as your sole and main residence on the
        application.
      </p>
      <p class="govuk-body">
        Your personal data will also be shared with our technology supplier Digital Modus and contact centre partner Arvato to
        process your application and provide call centre support.
      </p>
      <p class="govuk-body">
        When you use the call centre assisted service the service will be provided by Arvato. Arvato and local authorities may
        also exchange information provided on calls and other correspondence with BEIS when there is a need to clarify missing
        information to process your application. Calls to the call centre will be recorded and retained for up to 7 years.
      </p>
      <p class="govuk-body">
        We may share your name and address with a contracted provider to contact you in writing to conduct research and
        evaluation about the Scheme so we can deliver the scheme effectively and analyse the impact of the scheme. Any research
        is voluntary and will not affect the outcome of your application. You would have the right to withdraw at any time using
        the contact details provided by the contracted provider at the time of the research request.
      </p>
      <p class="govuk-body">
        We will share your data with other government bodies if we are required to do so by law - for example, by court order,
        or to prevent fraud or other crime.
      </p>
      <h2 class="govuk-heading-m">
        Retention
      </h2>
      <p class="govuk-body">  
        We will only keep your personal data for as long as required to support the delivery, evaluation and scrutiny of the
        Scheme. These data will be securely deleted no later than 7 years after collection in line with our department policy.
      </p>
      <h2 class="govuk-heading-m">
        Automated decision making
      </h2>
      <p class="govuk-body">  
        Your personal data may be subject to automated decision making. Initial eligibility checks will be made for the
        prevention and detention of fraud for example, to determine whether a payment has already been made under the main AFP
        scheme or whether another application is in progress. Bank account verification assurance checks will also take place to
        ensure payments are made to the correct bank account.
      </p>
      <p class="govuk-body">
        Should your application be turned down following the initial eligibility checks, you will be informed of the reason why
        your application has been rejected. You will also be informed of how you can ask for a review of the decision which is
        not solely based on automated processing.
      </p>
      <h2 class="govuk-heading-m">
        Your rights
      </h2>
      <p class="govuk-body">
        You have the right to request information about how your personal data are processed, and to request a copy of that
        personal data.
      </p>
      <p class="govuk-body">
        You have the right to request that any inaccuracies in your personal data are rectified without delay.
      </p>
      <p class="govuk-body">
        You have the right to request that any incomplete personal data are completed, including by means of a supplementary
        statement.
      </p>
      <p class="govuk-body">
        You have the right to request that your personal data are erased if there is no longer a justification for them to be
        processed.
      </p>
      <p class="govuk-body">
        You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of
        your personal data is restricted.
      </p>
      <p class="govuk-body">
        You have the right to object to the processing of your personal data where it is processed for direct marketing
        purposes.
      </p>
      <p class="govuk-body">
        You have the right to object to the processing of your personal data including the right to object automated processing.
      </p>
      <h2 class="govuk-heading-m">
        International transfers
      </h2>
      <p class="govuk-body">
        We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s
        processed and when it’s stored.
      </p>
      <p class="govuk-body">
        As your personal data is stored on our IT infrastructure and shared with our data processors Microsoft and Amazon Web
        Services, it may be transferred and stored securely in the UK and European Economic Area. Where it is the case that your
        personal data is stored outside the UK and EEA it will be subject to equivalent legal protection through the use of
        Model Contract Clauses.
      </p>
      <h2 class="govuk-heading-m">
        Complaints
      </h2>
      <p class="govuk-body">
        If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information
        Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:
      </p>
      <div class="govspeak">
        <div class="contact">
          <p>
            Information Commissioner's Office<br>
            Wycliffe House<br>
            Water Lane<br>
            Wilmslow<br>
            Cheshire SK9 5AF<br>
            Telephone: <a href="tel:+443031231113">0303 123 1113</a><br>
            Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
          </p>
        </div>
      </div>
      <p class="govuk-body">
        Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
      </p>
      <h2 class="govuk-heading-m">
        Contact details
      </h2>
      <p class="govuk-body">
        The data controller for your personal data is the Department for Energy Security & Net Zero (BEIS).
      </p>
      <p class="govuk-body">
        You can contact the BEIS Data Protection Officer at:
      </p>
      <div class="govspeak">
        <div class="contact">
          <p>
            BEIS Data Protection Officer<br>
            Department for Energy Security & Net Zero<br> 
            1 Victoria Street<br>
            London SW1H 0ET<br>
            Email: <a href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
          </p>
        </div>
      </div>
      <h2 class="govuk-heading-m">
        Changes to this policy
      </h2>
      <p class="govuk-body">
        We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change.
        Any changes to this privacy policy will apply to you and your data immediately.
      </p>
      <p class="govuk-body">
        If these changes affect how your personal data is processed, we will take reasonable steps to let you know.
      </p>
      <p class="govuk-body">
        Last updated 20 February 2023
      </p>
    </div>
</div>
    {% endblock %}
