
{% extends "layout.html" %}

{% block pageTitle %}
Upload proof that you have bought alternative fuels to heat your home 

{% endblock %}


{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "eligible-for-afp"
  }) }}
{% endblock %}

{% block content %}
{% if not data.error %}
{% if data['proof-of-fuel'] | length > 0 %}
{% set heading %}
  File uploaded
{% endset %}
{% set message %}
  <p>Uploaded <strong>{{ data['proof-of-fuel'] }}</strong>.</p>
  <p>
    <a class="govuk-notification-banner__link" href="#proof-of-fuel">Upload another file.</a>
  </p>
{% endset %}
{% endif %}
{% if data.removed %}
{% set heading %}
  File removed
{% endset %}
{% set message %}
<p>Removed <strong>{{ data.removed }}</strong></p>
{% endset %}
{% endif %}
{% if message %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ heading | safe }}
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {{ message | safe }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% if data.error %}
{{ govukErrorSummary({
titleText: "There is a problem",
errorList: [
{
text: "Choose a file to upload",
href: "#proof-of-fuel"
}
]
}) }}
{% endif %}
<form action="upload-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload proof that you have bought alternative fuels to heat your home </h1>
      <p class="govuk-body">You need to provide proof that you have bought alternative fuels to heat your home this winter. </p> 
      <p class="govuk-body">You must upload 1 or 2 receipts for alternative fuels that add up to a total of at least £200. The receipts must have a
      date of September 2022 or later. </p>
      <p class="govuk-body">If you upload two receipts, they can be for different fuels. </p>
      <p class="govuk-body">Each receipt must show: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your address  </li>
        <li>the type of fuel purchased </li>
        <li>the date of purchase  </li>
        <li>the name and address of the fuel supplier<!--, and VAT number if the supplier has one--></li>
        <li>the amount of money you spent </li>
      </ul>
      <p class="govuk-body">You can upload a picture, scan of a paper document or a digital document from your computer or phone. </p>
      <p class="govuk-body">Your documents must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>no more than 10 MB in size</li>
        <li>in PDF, .jpeg, .png or .doc format</li>
      </ul>
      <div class="govuk-form-group">
        <h2 id="upload-file" class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="proof-of-fuel">
            Upload a file
          </label>
        </h2>
        <input class="govuk-file-upload" id="proof-of-fuel" name="proof-of-fuel" type="file" multiple>
      </div>
      <input type="submit" class="govuk-button govuk-button--secondary" name="upload-multiple" value="Upload">
      {% if data['proofs-of-fuel'] | length > 0 %}
      <h3 class="govuk-heading-s">Uploaded files</h3>
      <ul class="govuk-list">
        {% for file in data['proofs-of-fuel'] %}
        <li>{{ file }} – <a class="govuk-link govuk-link--no-visited-state" href="/remove-file?filename={{file}}">Remove<span
              class="govuk-visually-hidden"> {{ file }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <input class="govuk-button" type="submit" value="Continue" name="continue">
</form>

{% endblock %}
